body, input[type=number]{
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        text-align: center
}

form, h2{
        display: inline;
}

/*added*/
h2.tableHead {
	display: block;
}

/*id to class, added middle*/
h1#titleHead, th.left, th.middle, th.right {
        background: #43C6DB;
        color: white
}

/*added tableHead*/
h1#titleHead, h2#mile, h2#team, h2.tableHead {
        border-radius: 50px;
        margin: auto;
        padding: 5px;
        width: 250px;
}

/*added titleHead and antRounds*/
#titleHead {
	width: 300px;
}

#antRounds {
	width: 400px;
}

/*added tableHead*/
h2#mile, h2.tableHead {
        border: 3px solid darkblue;
        bottom: 10px;
        color: darkblue;
        position: relative

}

input[type=number]{
        border: 1px solid gray;
        border-radius: 5px;
        width: 100px;
    -moz-appearance:textfield;
}

input[type=number]#big{
        font-size: 20px;
        width: 150px
}

input[type=number]#year{
        width: 50px
}

/*added input[type=button] and button*/
input[type=submit], input[type=button], button {
        background: lightgray;
        border-radius: 10px;
        font-weight: bold;
        margin: 10px;
        padding: 5px
}

/*added*/
input[type=text], input[type=number].exitsNum {
	border-radius: 5px;
	height: 30px;
	width: 200px;
	resize: none;
}

/*added*/
#likelyAcquisitionTable {
	width: 250px;
	height: 45px;
	margin-left: 24px;
}

/*added*/
input[type=number]#likelyAc {
	width: 250px;
	height: 45px;
	font-size: 20px;
	vertical-align: middle;
}

p{
        font-size: 70%;
        font-size-adjust: .75;
}

/*
table{
        border: 2px solid lightgray;
        border-radius: 10px;
        margin: auto
}
*/

/*added*/
.tableDiv {
	display: inline-block;
	border: 2px solid lightgray;
	border-radius: 10px;
	margin: auto;
	height: auto;
}

textarea{
        border-radius: 5px;
        height: 45px;
        width: 400px;
        resize: none
}

textarea#big{
        height: 75px
}

textarea:focus{
        box-shadow: 0 0 5px gray
}

/*id to class (left and right)*/
th.left{
        border-top-left-radius: 10px
}

th.right{
        border-top-right-radius: 10px
}

th#pad{
        width: 100px
}

.blue{
        color: darkblue
}

.red{
        color: red
}

/*added*/
#exitStratDiv, #regIssuesDiv, #likelyAcDiv {
	display: inline-block;
}
